<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul>

            <li><a href="/home">Home page</a></li>
            <li><a href="/OurServices">Our Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            
          </ul>
        </nav>
        <div class="container2">
            <h1>Menu de Sandwichs Tunisiens</h1>
            <div class="sandwiches">
                <div class="sandwich">
                    <h2>Mechouia</h2>
                    <p>Pain Tunisien, Salade, Tomates, Olives, Harissa, Poivrons grillés</p>
                </div>
                <div class="sandwich">
                    <h2>Thon Mayonnaise</h2>
                    <p>Pain Tunisien, Thon, Mayonnaise, Salade, Tomates</p>
                </div>
                <div class="sandwich">
                    <h2>Fririk</h2>
                    <p>Pain Tunisien, Fririk (blé concassé), Tomates, Oignons, Olives, Harissa</p>
                </div>
            </div>
        </div>
</body>
</body>
</html>